{% from "govuk/components/input/macro.njk"  import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set fieldsetId = "signatory" + formSuffix %}

{% set directorEmailName = "directorEmail" + formSuffix %}
{% set directorEmailId = "director-email" + formSuffix %}

{% set onBehalfNameName = "onBehalfName" + formSuffix %}
{% set onBehalfNameId = "on-behalf-name" + formSuffix %}

{% set onBehalfEmailName = "onBehalfEmail" + formSuffix %}
{% set onBehalfEmailId = "on-behalf-email" + formSuffix %}

{% if signatory.isCorporateOfficer %}

{% call govukFieldset({
  legend: {
    text: signatory.name,
    classes: "govuk-label--m",
    isPageHeading: false
  }
}) %}
  <p class="govuk-body govuk-!-margin-bottom-2">
    Provide the details of a person who is authorised by {{ signatory.name | escape }} to sign the application on its behalf.
  </p>

  {{
    govukInput({
      id: onBehalfNameId,
      name: onBehalfNameName,
      classes: "govuk-!-width-full",
      label: {
          text: "Name of authorised person",
          classes: "govuk-visually-hidden"
      },
      hint: {
        text: "What is the name of the authorised person who will sign on behalf of " + (signatory.name | escape) + "?"
      },
      errorMessage: {
        text: errors[onBehalfNameName]
      } if errors[onBehalfNameName],
      attributes: {
        spellcheck: "false"
      },
      value: data[onBehalfNameName] if data
    })
  }}

  {{
    govukInput({
      id: onBehalfEmailId,
      name: onBehalfEmailName,
      type: "email",
      autocomplete: "email",
      classes: "govuk-!-width-full",
      label: {
        text: "Email address of authorised person",
        classes: "govuk-visually-hidden"
      },
      hint: {
        text: "What is the email address for the authorised person who will sign on behalf of " + signatory.name + "?"
      },
      errorMessage: {
        text: errors[onBehalfEmailName]
      } if errors[onBehalfEmailName],
      attributes: {
        spellcheck: "false"
      },
      value: data[onBehalfEmailName] if data
    })
  }}
{% endcall %}
{% else %}

  {{
    govukInput({
      id: directorEmailId,
      name: directorEmailName,
      type: "email",
      autocomplete: "email",
      classes: "govuk-!-width-full",
      label: {
        text: signatory.name,
        classes: "govuk-label--m"
      },
      hint: {
        text: "What is the email address for " + signatory.name + "?"
      },
      errorMessage: {
        text: errors[directorEmailName]
      } if errors[directorEmailName],
      attributes: {
        spellcheck: "false"
      },
      value: data[directorEmailName] if data
    })
  }}

{% endif %}
