{
    "ignorePatterns": ["views/", "node_modules/"],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "extends": ["standard"],
    "parser": "@typescript-eslint/parser",
    "overrides": [
         {
            "files": ["*.spec.ts", "*.test.ts"],
            "rules": {
                "no-unused-expressions": "off"
            }
        }
    ],
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "double", { "allowTemplateLiterals": true }],
        "semi": [1, "never"],
        "no-unused-vars": "off",
        "no-return-assign": "off",
        "no-useless-constructor": "off",
        "camelcase": "off",
        "padded-blocks": "off",
        "prefer-promise-reject-errors": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error", { 
            "functions": false, 
            "classes": false, 
            "variables": true 
        }]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "env": {
        "node": true,
        "commonjs": true,
        "mocha": true,
        "es6": true,
        "browser": true
    }
}