{% extends 'layout.njk' %}

{% from 'govuk/components/button/macro.njk'         import govukButton %}
{% from "govuk/components/error-summary/macro.njk"  import govukErrorSummary %}
{% from "govuk/components/input/macro.njk"          import govukInput %}
{% from "govuk/components/back-link/macro.njk"      import govukBackLink %}

{% set title = "Change a " + officerType + "'s " + ( "details" if signatory.isCorporateOfficer else "email address")
    + " - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: "Back",
      href: backURI
    })
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

      {% if signatory.isCorporateOfficer %}
        <h1 class="govuk-heading-xl">Change a {{ officerType }}'s details</h1>
      {% else %}
        <h1 class="govuk-heading-xl">Change a {{ officerType }}'s email address</h1>
      {% endif %}


      <form method="post" novalidate>

        {% include "components/csrf_token.njk" %}
        {% set formSuffix = "" %}
        {% include "components/define-signatory-info/signatory-details.njk" %}

        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
