{% extends 'layout.njk' %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set title = "Endorse company closure certificate - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: 'Back',
      href: backUri
    })
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

      <h1 class="govuk-heading-l">Sign the application</h1>
      {{
        govukSummaryList({
          rows: [
            {
              key: { text: approvalModel.officerType | asCompanyDisplayName(true) + ' name' },
              value: { text: approvalModel.companyName }
            },
            {
              key: { text: approvalModel.officerType | asCompanyDisplayName(true) + ' number' },
              value: { text: approvalModel.companyNumber }
            }
          ]
        })
      }}
      {{
        govukWarningText({
          text: "You must read the following statements.",
          iconFallbackText: "Warning"
        })
      }}
      <h2 class="govuk-heading-m">Important notice for all interested parties</h2>

      <p id="paragraph-statement"class="govuk-body">The {{ approvalModel.officerType | asCompanyDisplayName }} has
        applied to be struck off and dissolved. The registrar will proceed unless there is a reasonable cause not to,
        and on dissolution any assets remaining in the {{ approvalModel.officerType | asCompanyDisplayName }} will be
        passed to the Crown.
        <a class="govuk-link piwik-event"
           data-event-id="grounds-for-objection-guidance-link"
           href=https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration#objecting-to-a-companys-dissolution
           rel="noreferrer noopener" target="_blank">
          Guidance is available on the grounds for objection (opens in a new tab)</a>. If in doubt, seek professional advice.</p>

      <h2 id="declaration-heading" class="govuk-heading-m">Declaration</h2>

      <p id="declaration-paragraph" class="govuk-body">As a {{ approvalModel.officerType }} of {{ approvalModel.companyName }}, I apply for this {{ approvalModel.officerType | asCompanyDisplayName }} to be struck off the register. 
        I declare that none of the circumstances described in section 1004 or 1005 of the Companies Act 2006 exists in relation to the {{ approvalModel.officerType | asCompanyDisplayName }} which would prevent this application from being made.</p>

      <p class="govuk-body">
        <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/1004" rel="noreferrer noopener" target="_blank" class="govuk-link piwik-event" data-event-id="section-1004-companies-act-2006-link">Section 1004 of the Companies Act 2006 (opens in new tab)</a>
      </p>

      <p class="govuk-body">
        <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/1005" rel="noreferrer noopener" target="_blank" class="govuk-link piwik-event" data-event-id="section-1005-companies-act-2006-link">Section 1005 of the Companies Act 2006 (opens in new tab)</a>
      </p>

      {% set confirmationLabel %}
        {% if approvalModel.isCorporateOfficer %}
          I confirm that I am  <span id="applicantName">{{ approvalModel.onBehalfName }}</span> and that I am authorised by {{ approvalModel.companyName }} to sign this application on its behalf</strong>
        {% else %}
          I confirm that I am <span id="applicantName">{{ approvalModel.applicant }}</span> and I am a {{ approvalModel.officerType }} of {{ approvalModel.companyName }}
        {% endif %}
      {% endset %}

      {% set declarationLabel %}
        {% if approvalModel.isCorporateOfficer %}
          I am making the declaration given on this page on behalf of {{ approvalModel.companyName }}
        {% else %}
          I am making the declaration given on this page
        {% endif %}
      {% endset %}

      <h2 class="govuk-heading-m">By ticking both of the boxes below you are signing the application.</h2>

      <form method="post">

        {% include "components/csrf_token.njk" %}

        {{
          govukCheckboxes({
            idPrefix: "confirmation",
            name: "confirmation",
            errorMessage: {
              text: errors.confirmation
            } if errors.confirmation,
            hint: { 
              text: "For " + (approvalModel.officerType) + "s that are corporate bodies, a person authorised to sign on behalf of that corporate body must sign the application."
            } if approvalModel.isCorporateOfficer,
            items: [
              {
                value: "understood",
                html: "<span id=confirmationLabel>" + confirmationLabel + "</span>",
                attributes: {
                    'data-event-value': 'understand-checkbox'
                }
              }
            ]
          })
        }}
        {{
          govukCheckboxes({
            idPrefix: "declaration",
            name: "declaration",
            errorMessage: {
              text: errors.declaration
            } if errors.declaration,
            items: [
              {
                value: "declared",
                html: "<span id=declarationLabel>" + declarationLabel + "</span>"
              }
            ]
          })
        }}
        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>

{% include 'components/matomo-checkbox-submit-tracking.njk' %}

{% endblock %}
