{% extends 'layout.njk' %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set title = "Endorse company closure certificate - " + pageTitleSuffix %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

      <h1 class="govuk-heading-xl">Sign the application</h1>
      <h2 class="govuk-heading-m">Apply to strike off and dissolve a company</h2>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-9">
        <div id="companyName">{{ approvalModel.officerType | asCompanyDisplayName(true)}} name: {{ approvalModel.companyName }}</div>
        <div id="companyNumber">{{ approvalModel.officerType | asCompanyDisplayName(true)}} number: {{ approvalModel.companyNumber }}</div>
      </h2>
      {{
        govukWarningText({
          text: "You must read the following statements.",
          iconFallbackText: "Warning"
        })
      }}
      <h2 class="govuk-heading-m">Important notice for all interested parties</h2>

      <p id="paragraph-statement"class="govuk-body">The {{ approvalModel.officerType | asCompanyDisplayName }} has
        applied to be struck off and dissolved. The registrar will proceed unless there is a reasonable cause not to,
        and on dissolution any assets remaining in the {{ approvalModel.officerType | asCompanyDisplayName }} will be
        passed to the Crown.
        <a class="govuk-link"
           href=https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration#objecting-to-a-companys-dissolution
           rel="noreferrer noopener" target="_blank">
          Guidance is available on the grounds for objection (opens in a new tab)</a>. If in doubt, seek professional advice.</p>

      <h2 id="declaration-heading" class="govuk-heading-m">Declaration of {{ approvalModel.officerType }}s</h2>

      <p id="declaration-paragraph" class="govuk-body">I/We as {{ approvalModel.officerType }}s / the majority of
        {{ approvalModel.officerType }}s apply for this {{ approvalModel.officerType | asCompanyDisplayName }} to be
        struck off the Register and declare that none of the circumstances described in  
          <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/1004" target="_blank" class="govuk-link">section 1004 of the Companies Act 2006 (opens in a new tab)</a>
          or  <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/1005" target="_blank" class="govuk-link">section 1005 of the Companies Act 2006 (opens in a new tab)</a>
           (being circumstances in which the {{ approvalModel.officerType }}s would otherwise be prohibited under those sections.)</p>

      {% set confirmationLabel %}
        {% if not approvalModel.onBehalfName %}
          I confirm I have read and understood the statements - signed <strong><span id="applicantName">{{ approvalModel.applicant }}</span></strong> on <strong>{{ approvalModel.date }}</strong>
        {% else %}
          I confirm I have read and understood the statements - signed <strong><span id="applicantName">{{ approvalModel.onBehalfName }}</span></strong> on <strong>{{ approvalModel.date }}</strong> on behalf of <strong>{{ approvalModel.applicant }}</strong>
        {% endif %}
      {% endset %}

      <h2 class="govuk-heading-m">By ticking this box you are signing the application</h2>

      <form method="post">
        {{
          govukCheckboxes({
            idPrefix: "confirmation",
            name: "confirmation",
            errorMessage: {
              text: errors.confirmation
            } if errors.confirmation,
            items: [
              {
                value: "understood",
                html: "<span id=confirmationLabel>" + confirmationLabel + "</span>"
              }
            ]
          })
        }}
        {{
          govukButton({
            text: 'Sign the application',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
