{% extends "layout.njk" %}

{% block pageTitle %}
  Sorry, there is a problem with the service - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sorry, there is a problem with the service
      </h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">
        If the problem persists, <a href="https://www.gov.uk/contact-companies-house" target="_blank">contact us (opens in new tab)</a> to speak to someone about applying to strike off and dissolve a company.
      </p>
    </div>
  </div>
{% endblock %}
