{% extends 'layout.njk' %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from 'govuk/components/button/macro.njk'      import govukButton %}

{% set title = pageTitleSuffix %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
      <p class="govuk-body-l">Use this service to apply to close a public limited company, a private limited company, or a limited liability partnership (LLP).</p>
      <p class="govuk-body">For companies with multiple directors, more than half of the directors need to sign the application before it can be submitted.</p>
      <p class="govuk-body">It costs £33 and you'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to sign in, or create sign in details (these are different to WebFiling sign in details)</li>
        <li>the company number</li>
        <li>the company authentication code</li>
        <li>an email address for each person signing the application</li>
        <li>to pay using a credit or debit card{% if payByAccountFeatureEnabled %}, or a Companies House credit account{% endif %}</li>
      </ul>
      <p class="govuk-body">You can also sign in to this service to download a copy of your application after it has been submitted.</p>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body-s">Read the <a class="piwik-event" data-event-id="eDS01-landing-page-guidance" href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration" target="_blank" class="govuk-link">guidance for striking off and dissolving a company (opens in a new tab)</a>.</p>
      {{
        govukButton({
          text: "Start now",
          href: redirectUrl,
          isStartButton: true,
          attributes: {
            id: 'start-now',
            'data-event-id': 'start-now-button' if piwik
          }
        })
      }}
    </div>
  </div>
  {% if piwik %}
    <script nonce={{ nonce | dump | safe }}>
      $(document).ready(() => {
        $('#start-now').on('click', () => {
          _paq.push(["trackGoal", {{ piwik.landingPageStartGoalId }}]);
        });
      })
    </script>
  {% endif %}
{% endblock %}
