{% extends 'layout.njk' %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from 'govuk/components/button/macro.njk'      import govukButton %}

{% set title = pageTitleSuffix %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ lnd_serviceName }}</h1>
      <p class="govuk-body-l">{{ lnd_use }}</p>
      <p class="govuk-body">{{ lnd_multi_dir }}</p>
      <p class="govuk-body">{{ lnd_cost }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ lnd_req1 }}</li>
        <li>{{ lnd_req2 }}</li>
        <li>{{ lnd_req3 }}</li>
        <li>{{ lnd_req4 }}</li>
        <li>{% if payByAccountFeatureEnabled %}{{ lnd_pay_cc_ch }}{% else %}{{ lnd_pay_cc }}{% endif %}</li>
      </ul>
      <p class="govuk-body">{{ lnd_download }}</p>
      <form method="post">
        {{
          govukButton({
            text:  glob_btn_start,
            isStartButton: true,
            attributes: {
              id: 'start-now',
              'data-event-id': 'start-now-button' if piwik
            }
          })
        }}
      </form>
      <h2 class="govuk-heading-m">{{ lnd_before }}</h2>
      <p class="govuk-body-s">{{ lnd_read }} <a class="piwik-event" data-event-id="eDS01-landing-page-guidance" href="{{ lnd_lnk_guidance }}" target="_blank" class="govuk-link">{{ lnd_guidance }}</a>.</p>
    </div>
  </div>
  {% if piwik %}
    <script nonce={{ nonce | dump | safe }}>
      $(document).ready(() => {
        $('#start-now').on('click', () => {
          _paq.push(["trackGoal", {{ piwik.landingPageStartGoalId }}]);
        });
      })
    </script>
  {% endif %}
{% endblock %}
