{% extends 'layout.njk' %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from 'govuk/components/button/macro.njk'      import govukButton %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
        <p class="govuk-body-l">Use this service to apply to close a public limited company, a private limited company, or a limited liability partnership (LLP).</p>
        <p class="govuk-body">It costs £8 and you'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the company number</li>
          <li>to sign in to or create a Companies House account</li>
          <li>the company authentication code</li>
          <li>an email address for each person signing the application</li>
          <li>a credit or debit card</li>
        </ul>
        <p class="govuk-body">You will not be able to save your answers. If you exit the service, you will have to start again.</p>
        <form method="post">
         {{
            govukButton({
              text: 'Start now',
              isStartButton: true,
              attributes: {
               id: 'start-now',
               'data-event-id': 'start-now-button' if piwik,
               onclick: '_paq.push(["trackGoal", ' + piwik.landingPageStartGoalId + ']);' if piwik
             }
            })
         }}
        </form>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body-s">Read the <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration" target="_blank" class="govuk-link">guidance for striking off and dissolving a company (opens in a new tab)</a>.</p>
      </div>
    </main>
  </div>
{% endblock %}