{% extends 'govuk/template.njk' %}

{% from 'govuk/components/footer/macro.njk'       import govukFooter %}
{% from 'govuk/components/header/macro.njk'       import govukHeader %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="//{{ cdn.host }}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css" rel="stylesheet"/>
  <link href="//{{ cdn.host }}/stylesheets/services/dissolution/application.css" rel="stylesheet"/>

  <!--<![endif]-->

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>

  <script nonce={{ nonce | dump | safe }} type="application/javascript">
    var SERVICE_NAME = 'dissolutions'
    var PIWIK_URL = '{{ piwik.url }}'
    var PIWIK_SITE_ID = '{{ piwik.siteId }}'
  </script>

  {% block download %}{% endblock %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block header %}
  {% include "components/cookie-consent-banner.html" %}
  {{
    govukHeader({
      homepageUrl: Paths.ROOT_URI,
      serviceName: serviceName,
      serviceUrl: Paths.ROOT_URI,
      containerClasses: 'govuk-width-container'
    })
  }}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="//{{ cdn.host }}/images/favicon.ico" type="image/x-icon" />
{% endblock %}

{% set mainClasses = mainClasses | default('govuk-main-wrapper--auto-spacing') %}

{% block beforeContent %}
  <div id="templateName" data-id="{{ title }}" hidden></div>

  {{
    govukPhaseBanner({
      tag: {
        text: 'Beta'
      },
      html: 'This is a new service – your <a class="govuk-link" href="' + bannerFeedbackLink + '" target="_blank">feedback</a> will help us to improve it.'
    })
  }}

  {% include "components/sign-out-user-banner.njk" %}

  {% block backLink %}{% endblock %}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        items: [
          {
            href: 'http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml',
            text: 'Policies'
          },
          {
            href: 'https://www.gov.uk/help/cookies',
            text: 'Cookies'
          },
          {
            href: 'https://www.gov.uk/contact',
            text: 'Contact us'
          },
          {
            href: 'https://resources.companieshouse.gov.uk/accessibility/close-a-company-new.shtml',
            text: 'Accessibility statement',
            attributes: {
              'target' : '_blank'
            }
          },
          {
            href: 'https://developer.companieshouse.gov.uk/',
            text: 'Developers'
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="//{{ cdn.host }}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
  <script nonce={{ nonce | dump | safe }}>window.GOVUKFrontend.initAll()</script>
  <script src="//{{ cdn.host }}/javascripts/app/piwik-enable.js"></script>
  <script src="//{{ cdn.host }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
  <script src="//{{ cdn.host }}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js"></script>
{% endblock %}
