{% extends 'govuk/template.njk' %}

{% from "govuk/components/cookie-banner/macro.njk"  import govukCookieBanner %}
{% from 'govuk/components/footer/macro.njk'         import govukFooter %}
{% from 'govuk/components/header/macro.njk'         import govukHeader %}
{% from 'govuk/components/phase-banner/macro.njk'   import govukPhaseBanner %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="//{{ cdn.host }}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css" rel="stylesheet"/>
  <link href="//{{ cdn.host }}/stylesheets/services/dissolution/application.css" rel="stylesheet"/>

  <!--<![endif]-->

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>

  {% block download %}{% endblock %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block header %}
  <div id="cookie-banner" class="govuk-cookie-banner" role="region" aria-label="Cookies on Companies House services" hidden>
    <div id="accept-or-reject-message" class="govuk-cookie-banner__message govuk-width-container" hidden>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Companies House services</h2>
          <div class="govuk-cookie-banner__content">
            <p>We use some essential cookies to make our services work.</p>
            <p>We'd also like to use analytics cookies so we can understand how you use our services and to make improvements.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button id="accept-cookies-button" type="button" class="govuk-button" data-module="govuk-button">
          Accept analytics cookies
        </button>
        <button id="reject-cookies-button" type="button" class="govuk-button" data-module="govuk-button">
          Reject analytics cookies
        </button>
        <a class="govuk-link" href="{{ chs.url }}/help/cookies">View cookies</a>
      </div>
    </div>
    <div id="accepted-cookies-message" class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-cookie-banner__content">
            <p>You've accepted analytics cookies. You can <a href="{{ chs.url }}/help/cookies">change your cookie settings</a> at any time.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button id="hide-accepted-message-button" class="govuk-button" data-module="govuk-button">
          Hide this message
        </button>
      </div>
    </div>
    <div id="rejected-cookies-message" class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-cookie-banner__content">
            <p>You've rejected analytics cookies. You can <a href="{{ chs.url }}/help/cookies">change your cookie settings</a> at any time.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button id="hide-rejected-message-button" class="govuk-button" data-module="govuk-button">
          Hide this message
        </button>
      </div>
    </div>
  </div>

  {{
    govukHeader({
      homepageUrl: Paths.ROOT_URI,
      serviceName: serviceName,
      serviceUrl: Paths.ROOT_URI,
      containerClasses: 'govuk-width-container'
    })
  }}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="//{{ cdn.host }}/images/favicon.ico" type="image/x-icon" />
{% endblock %}

{% set mainClasses = mainClasses | default('govuk-main-wrapper--auto-spacing') %}

{% block beforeContent %}
  <div id="templateName" data-id="{{ title }}" hidden></div>

  {{
    govukPhaseBanner({
      tag: {
        text: 'Beta'
      },
      html: 'This is a new service – your <a class="govuk-link" href="' + bannerFeedbackLink + '" target="_blank">feedback</a> will help us to improve it.'
    })
  }}

  {% include "components/sign-out-user-banner.njk" %}

  {% block backLink %}{% endblock %}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        items: [
          {
            href: 'http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml',
            text: 'Policies'
          },
          {
            href: 'https://www.gov.uk/help/cookies',
            text: 'Cookies'
          },
          {
            href: 'https://www.gov.uk/contact',
            text: 'Contact us'
          },
          {
            href: 'https://resources.companieshouse.gov.uk/accessibility/close-a-company-new.shtml',
            text: 'Accessibility statement',
            attributes: {
              'target' : '_blank'
            }
          },
          {
            href: 'https://developer.companieshouse.gov.uk/',
            text: 'Developers'
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="//{{ cdn.host }}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
  <script nonce={{ nonce | dump | safe }}>window.GOVUKFrontend.initAll()</script>
  <script src="//{{ cdn.host }}/javascripts/app/piwik-enable.js"></script>
  <script src="//{{ cdn.host }}/javascripts/app/cookie-consent-1.0.0.js"></script>
  <script nonce={{ nonce | dump | safe }} type="application/javascript">
    function startPiwik() {
      bindPiwikListener('dissolutions', '{{ piwik.url }}', {{ piwik.siteId }});
    };

    document.addEventListener('DOMContentLoaded', function () {
      var acceptButton = document.getElementById('accept-cookies-button')
      acceptButton.addEventListener('click', function() {CookieConsent.acceptCookies(startPiwik)})
      var rejectButton = document.getElementById('reject-cookies-button')
      rejectButton.addEventListener('click', CookieConsent.rejectCookies)
      var hideAcceptedButton = document.getElementById('hide-accepted-message-button')
      hideAcceptedButton.addEventListener('click', CookieConsent.hideCookieBanners)
      var hideRejectedButton = document.getElementById('hide-rejected-message-button')
      hideRejectedButton.addEventListener('click', CookieConsent.hideCookieBanners)
    })

    CookieConsent.start(startPiwik)
  </script>
  <noscript>
    <p>
      <img src="{{ piwik.url }}/piwik.php?idsite={{ piwik.siteId }}" style="border:0;" alt="" />
    </p>
  </noscript>
{% endblock %}
