{% extends 'layout.njk' %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from 'govuk/components/button/macro.njk'      import govukButton %}

{% set title = "Email address not authorised to sign - " + pageTitleSuffix %}

{% block content %}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">Email address not authorised to sign</h1>
        <p class="govuk-body-l">You can only access this service if your email address has been given to us by the person making the application to strike off and dissolve the company. </p>
        <p class="govuk-body-l">Return to the start of this service and try again.</p>
      </div>
    </main>
  </div>
{% endblock %}