{% extends 'layout.njk' %}

{% from 'govuk/components/button/macro.njk'         import govukButton %}
{% from "govuk/components/error-summary/macro.njk"  import govukErrorSummary %}
{% from "govuk/components/input/macro.njk"          import govukInput %}
{% from "govuk/components/back-link/macro.njk"      import govukBackLink %}

{% set title = "Enter your details to pay by account - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: "Back",
      href: Paths.HOW_DO_YOU_WANT_TO_PAY_URI
    })
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

      <h1 class="govuk-heading-xl">Enter your details to pay by account</h1>

      <form method="post" id="close-a-company-payment-pay-by-account-form">

        {% include "components/csrf_token.njk" %}

        {{
          govukInput({
            id: "presenter-id",
            name: "presenterId",
            classes: "govuk-!-width-full",
            label: {
              text: "Presenter ID"
            },
            hint: {
                text: "This is 11 numbers. For example, 00012345678"
            },
            errorMessage: {
              text: errors.presenterId
            } if errors.presenterId,
            value: data.presenterId if data
          })
        }}

        {{
          govukInput({
            id: "presenter-auth-code",
            name: "presenterAuthCode",
            type: "password",
            classes: "govuk-!-width-full",
            label: {
              text: "Presenter authentication code"
            },
            hint: {
                text: "This is 11 characters and may include letters and numbers. For example, A1B2C3D4E5F"
            },
            errorMessage: {
              text: errors.presenterAuthCode
            } if errors.presenterAuthCode,
            value: data.presenterAuthCode if data
          })
        }}
        <p class="govuk-body">
            If you do not have details for an existing payment account, you’ll need to <a href={{ Paths.PAY_BY_ACCOUNT_CHANGE_PAYMENT_TYPE_URI }} class="govuk-link">pay by credit or debit card instead</a>.
        </p>
        {{
          govukButton({
            text: 'Confirm payment',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
