{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = "Review your payment - " + pageTitleSuffix %}

{% block content %}
  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Review your payment</h1>

        {% set paymentRows = [] %}
        {% for payment in paymentSummary.payments %}
          {% set paymentRows =
            (
              paymentRows.push(
                [
                  {
                    text: payment.description,
                    attributes: { id: 'item-' + loop.index0 }
                  },
                  {
                    text: payment.cost,
                    attributes: { id: 'amount-to-pay-' + loop.index0 },
                    format: "numeric"
                  }
                ]
              ),
              paymentRows
            )
          %}
        {% endfor %}

        {{ govukTable({
            head: [
              {
                text: "Item",
                classes: 'govuk-!-width-three-quarters'
              },
              {
                text: "Amount to pay",
                classes: 'govuk-!-width-one-quarter',
                format: "numeric"
              }
            ],
            rows: paymentRows
        }) }}

        <h2 class="govuk-heading-m">The total amount to pay is <span id="total_cost">{{ paymentSummary.total_cost }}</span></h2>

        {{ govukButton({
            text: 'Continue',
            attributes: {
              id: 'next-button'
            }
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
