{% extends 'layout.njk' %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from 'govuk/components/button/macro.njk'      import govukButton %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [
        { href: 'https://www.gov.uk/', text: 'Home' },
        { href: 'https://www.gov.uk/browse/business', text: 'Business and self-employed' },
        { href: 'https://www.gov.uk/browse/business/limited-company', text: 'Running a limited company' }
      ]
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Search Company Placeholder</h1>
    </div>
  </div>
{% endblock %}
