{% extends 'layout.njk' %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = "Search company - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: glob_btn_back,
      href: backUri
    })
  }}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

       <label class="govuk-label" for="company-number">
        <h1 class="govuk-heading-xl">{{ srch_what }}</h1>
       </label>
       <div id="company-number-hint" class="govuk-hint">
       {{ srch_8char }}
       </div>
      <form method="post">
        {{
          govukInput({
            describedBy: "company-number-hint",
            errorMessage: {
              text: errors.companyNumber
            } if errors.companyNumber,
            classes: "govuk-input--width-10",
            id: "company-number",
            name: "companyNumber",
            value: data.companyNumber
          })   
        }}

        {{  
          govukDetails({
            summaryHtml: '<div class="piwik-event" data-event-id="help-with-company-number-link">' + srch_help + '</div>',
            html: '<p>' + srch_find + '<a href="https://beta.companieshouse.gov.uk/" class="govuk-link piwik-event" data-event-id="companieshouse-service-link" rel="noreferrer noopener" target="_blank">' + srch_ch_service + '</a>.</p>'
          })
        }}

        {{ 
          govukButton({
            text: glob_btn_continue,
            attributes: {
              id: 'submit'
            }
          }) 
        }}
      </form>
    </div>
  </div>
{% endblock %}
