{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'     import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/button/macro.njk'        import govukButton %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "components/select-director-radios.njk"    import selectDirectorRadios %}

{% set title = "Which " + officerType + " are you? - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: 'Back',
      href: Paths.VIEW_COMPANY_INFORMATION_URI
    })
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include 'components/errors/error-summary.njk' %}

      <form method="post">

        {% include "components/csrf_token.njk" %}

        {{ selectDirectorRadios(directors, data, errors, officerType) }}

        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>

{% include 'components/matomo-radio-submit-tracking.njk' %}

{% endblock %}
