{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'     import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk'        import govukButton %}

{% set title = "Which " + officerType + "s will sign the application? - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: 'Back',
      href: Paths.SELECT_DIRECTOR_URI
    })
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include 'components/errors/error-summary.njk' %}

      <form method="post">

        {% include "components/csrf_token.njk" %}

        {{
          govukCheckboxes({
            idPrefix: "signatories",
            name: "signatories",
            fieldset: {
              legend: {
                text: "Which " + officerType + "s will sign the application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "More than half of the " + officerType + "s must sign, so you must select " + minSignatories + " or more of these " + officerType + "s."
            },
            errorMessage: {
              text: errors.signatories
            } if errors.signatories,
            items: signatories | asSelectSignatoriesList(data.signatories)
          })
        }}

        {{
          govukDetails({
            summaryHtml: '<div class="piwik-event">If a ' + officerType + ' cannot sign the application themselves</div>',
            html: '<p>' + (officerType | capitalize) + 's must sign the application themselves. Nobody can sign on their behalf.<br /><br />Sometimes a ' + officerType + ' cannot sign. For example,
            because they no longer have mental capacity. If there are not enough ' + officerType + 's who are able to sign, you\'ll need to <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house"
            class="govuk-link piwik-event" data-event-id="file-change-to-company-link" rel="noreferrer noopener" target="_blank">make changes to the company ' + officerType + 's (opens in new tab)</a> before continuing
            with this application.</p>'
          })
        }}

        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
