{% extends 'layout.njk' %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = "Stop Screen Bank Account - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: "Back",
      href: backUri
    })
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

      <h1 class="govuk-heading-l">Access to company bank accounts and other assets</h1>

      {{
        govukWarningText({
            text: "You'll lose access to money in company bank accounts, and other company assets, once the company is dissolved.",
            iconFallbackText: "Warning"
      })
            }}
      <p class="govuk-body">The directors or members should deal with all company assets before submitting this application. This includes, for example, money in company bank accounts and property owned by the company.</p>
      <p class="govuk-body">Once you've submitted this application and we've accepted it, the company will typically be dissolved (closed) after a minimum period of 2 months, unless there are any objections. We are unable to confirm the exact date of dissolution.</p>
      <p class="govuk-body">Any assets remaining in the company at the point of dissolution will automatically pass to the Crown. You'll need a court order to restore the company to recover them. This can be costly and time-consuming.</p>
      <p class="govuk-body">By selecting continue, you are confirming that you have read and understood this information.</p>

      <form method="post">

        {% include "components/csrf_token.njk" %}

        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
