{% extends 'layout.njk' %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set title = vci_view  + " - " + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: glob_btn_back,
      href: Paths.SEARCH_COMPANY_URI
    })
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

      <h1 class="govuk-heading-xl"> {{ vci_view }}</h1>
      {% if error %}
        <div id="cannot-close-error" class="govuk-inset-text">
          <h2 class="govuk-heading-l">{{ vci_cannot }}</h2>
          <p class="govuk-body" id="cannot-close-error-message">{{ error | safe }}</p>
        </div>
      {% endif %}

      <h2 id="company-name" class="govuk-heading-l">{{ company.companyName | upper }}</h2>

      {{
        govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: vci_co_num,
                attributes: { id: 'company-number-header' }
              },
              {
                text: company.companyNumber,
                attributes: { id: 'company-number-value' }
              }
            ],
            [
              {
                text: vci_status,
                attributes: { id: 'company-status-header' }
              },
              {
                text: company.companyStatus | asCompanyStatusText,
                attributes: { id: 'company-status-value' }
              }
            ],
            [
              {
                text: vci_inc_date,
                attributes: { id: 'company-incorporation-date-header' }
              },
              {
                text: company.companyIncDate | asFormattedDate,
                attributes: { id: 'company-incorporation-date-value' }
              }
            ],
            [
              {
                text: vci_co_type,
                attributes: { id: 'company-type-header' }
              },
              {
                text: company.companyType | asCompanyTypeText,
                attributes: { id: 'company-type-value' }
              }
            ],
            [
              {
                text: vci_reg_addr,
                attributes: { id: 'company-address-header' }
              },
              {
                text: company.companyRegOffice,
                attributes: { id: 'company-address-value' }
              }
            ]
          ]
        })
      }}
      <form method="post">
        {{
          govukButton({
            text: glob_conf_continue,
            attributes: {
              id: 'submit'
            }
          }) if not error
        }}
      </form>
      <p>
        <a class="govuk-link piwik-event" href={{ Paths.SEARCH_COMPANY_URI }} data-event-id="choose-a-different-company-link">{{ vci_diff }}</a>
      </p>
    </div>
  </div>
  {% if piwik %}
    <script nonce={{ nonce | dump | safe }}>
      $(document).ready(function() {
        $('#submit').on('click', function() {
          _paq.push(["trackGoal", {{ company.companyType | asCompanyTypeGoalId(piwik) }}]);
        });
      })
    </script>
  {% endif %}
{% endblock %}
