{% extends 'layout.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set title = "View final confirmation - " + pageTitleSuffix %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{
        govukPanel({
          titleText: "Application received",
          html: "Your reference number <br><strong>" + applicationReferenceNumber + "</strong>"
        })
      }}

      {{
        govukSummaryList({
          rows: [
            {
              key: { text: officerType | asCompanyDisplayName(true) + ' number' },
              value: { text: companyNumber }
            },
            {
              key: { text: officerType | asCompanyDisplayName(true) + ' name' },
              value: { text: companyName }
            }
          ]
        })
      }}

      <p class="govuk-body">We'll email you to confirm that we've received the application. We'll email you again within 2 working days to let you know if the application has been accepted or rejected.</p>

      <h2 class="govuk-heading-m">{{ officerType | capitalize }}s must inform all interested parties</h2>
      <p class="govuk-body">
        The {{ officerType }}s must send a copy to all interested parties within 7 days of making the application.
        </p>
      <p class="govuk-body">
        <a id="certificate-download" href="{{ Paths.CERTIFICATE_DOWNLOAD_URI }}" target="_blank" class="govuk-link" data-event-id="download-signed-application-link">Download the signed copy of the application (opens in new tab)</a>.
      </p>
      <p class="govuk-body">
         Read the <a href="https://www.gov.uk/government/publications/striking-off-or-dissolving-a-limited-company/striking-off-or-dissolving-a-limited-company#how-to-apply-and-who-to-tell"
      target="_blank" class="govuk-link piwik-event" data-event-id="confirmation-read-guidance-link">full list of interested parties to tell about the company closing (opens in new tab)</a>.
      </p>

      {{
        govukWarningText({
          text: "It is a criminal offence not to tell all interested parties that an application has been made to close the company.",
          iconFallbackText: "Warning"
        })
      }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        We'll publish a strike off notice for the company in the relevant Gazette. After 2 months, unless there is an objection to the company closing, another notice will be published in the relevant Gazette and the company will be dissolved.
      </p>
      <p class="govuk-body">This is a new service. Help us improve it by providing <a href="{{ confirmationFeedbackLink }}" target="_blank" data-event-id="feedback-link">feedback (opens in a new tab)</a>.</p>
    </div>
  </div>
  {% if piwik %}
    <script nonce={{ nonce | dump | safe }}>
      $(document).ready(() => {
        _paq.push(['trackGoal', {{ applicationType | asApplicationTypeConfirmationGoalId(piwik) }}])
        _paq.push(['trackGoal', {{ isMultiDirector | asDirectorSingleMultiConfirmationGoalId(piwik) }}])
        _paq.push(['trackEvent', 'Confirmation', 'Payment Type Confirmation', '{{ paymentType }}']);
        $('#certificate-download').on('click', () => {
          _paq.push(["trackGoal", {{ piwik.confirmationPagePDFGoalId }}]);
        });
      })
    </script>
  {% endif %}
{% endblock %}
