{% extends 'layout.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set title = "View final confirmation - " + pageTitleSuffix %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{
        govukPanel({
          titleText: "Application received",
          html: "Your reference number <br><strong>" + applicationReferenceNumber + "</strong>"
        })
      }}

      <p class="govuk-body">We will email you within 2 working days to let you know if the application has been accepted or rejected.</p>

      <h2 class="govuk-heading-m" id="first-header">What to do next</h2>

      <p id="inform" class="govuk-body">
        A strike off notice for the company will be published in the local Gazette. After 2 months, the notice will expire. In this time, if nobody has objected to the company closing, it will be removed from the register.

      <h2 class="govuk-heading-s">Directors must inform all interested parties</h2>  
      <p class="govuk-body">A copy of the signed application to close the company must be sent to all interested parties within 7 days of it being submitted. You can download a PDF of the signed application by signing back in to the Apply to strike off and dissolve a company service.  A full list of interested parties can be found here: 
      <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration#how-to-apply-for-strike-off-and-who-to-tell"
      target="_blank" class="govuk-link piwik-event" data-event-id="confirmation-read-guidance">full list of parties you must tell about the company closing (opens in a new tab)</a>.</p>

      {{
        govukWarningText({
          text: "It is a criminal offence not to tell all interested parties that an application has been made to close the company.",
          iconFallbackText: "Warning"
        })
      }}
      
      <p class="govuk-body"><a id="certificate-download" href="{{ Paths.CERTIFICATE_DOWNLOAD_URI }}" target="_blank" class="govuk-link">Download the signed copy of the application (opens in a new tab)</a>.</p>
      <p class="govuk-body govuk-!-margin-top-8">This is a new service. Help us improve it by providing <a href="{{ confirmationFeedbackLink }}" target="_blank">feedback (opens in a new tab)</a>.</p>
    </div>
  </div>
  {% if piwik %}
    <script nonce={{ nonce | dump | safe }}>
      $(document).ready(() => {
        _paq.push(['trackGoal', {{ applicationType | asApplicationTypeConfirmationGoalId(piwik) }}])
        _paq.push(['trackGoal', {{ isMultiDirector | asDirectorSingleMultiConfirmationGoalId(piwik) }}])
        _paq.push(['trackEvent', 'Confirmation', 'Payment Type Confirmation', '{{ paymentType }}']);
        $('#certificate-download').on('click', () => {
          _paq.push(["trackGoal", {{ piwik.confirmationPagePDFGoalId }}]);
        });
      })
    </script>
  {% endif %}
{% endblock %}
