{% extends 'layout.njk' %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set documentationUrl = 'https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration#how-to-apply-for-strike-off-and-who-to-tell' %}

{% set title = "{{ who_who }}" + pageTitleSuffix %}

{% block content %}
  {{
    govukBackLink({
      text: glob_btn_back,
      href: backUri
    })
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include 'components/errors/error-summary.njk' %}

      <h1 class="govuk-heading-xl">{{ who_who_close }}</h1>
      <p class="govuk-body">{{ who_copy }}</p>
      <p class="govuk-body">{{ glob_read }} <a class="govuk-link piwik-event" data-event-id="who-to-tell-read-guidance" target="_blank" href="{{ documentationUrl }}">{{ who_full_list }}</a>.</p>

      {{
        govukWarningText({
          text: who_criminal,
          iconFallbackText: "Warning"
        })
      }}

      <form method="post">
        {{ 
          govukCheckboxes({
            idPrefix: "confirmation",
            name: "confirmation",
            errorMessage: {
              text: errors.confirmation
            } if errors.confirmation,
            items: [
              {
                value: "understood",
                text: who_understand
              }
            ]
          })
        }}
        {{
          govukButton({
            text: glob_btn_continue,
            attributes: {
              id: 'submit'
            }
          })
        }}
        <input type="hidden" name="lang" value={{ lang }}>
      </form>
    </div>
  </div>
{% endblock %}
