{{ company.registeredOfficeAddress.addressLineOne }}<br/>
{{ company.registeredOfficeAddress.addressLineTwo }}<br/>
{{ company.registeredOfficeAddress.careOf }}<br/>
{{ company.registeredOfficeAddress.country }}<br/>
{{ company.registeredOfficeAddress.locality }}<br/>
{{ company.registeredOfficeAddress.poBox }}<br/>
{{ company.registeredOfficeAddress.postalCode }}<br/>
{{ company.registeredOfficeAddress.premises }}<br/>
{{ company.registeredOfficeAddress.region }}