<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Application status</h2>
    <p class="govuk-body">Refresh the page to see updated information. If you exit this page, you can return to it by signing in to <a href="{{ Paths.ROOT_URI }}">the Apply to strike off and dissolve a company service</a>.</p>
  </div>

  {% set signatoryRows = [] %}
  {% for signatory in signatories %}
    {% set signatoryRows =
      (
        signatoryRows.push(
          [
            {
              html: signatory.name if not signatory.on_behalf_name else '<div class="on_behalf_name_' + loop.index0 + '">' + signatory.on_behalf_name + '</div><div class="on_behalf_of_signatory_name_section_' + loop.index0 + '">signing on behalf of ' + signatory.name + '</div>',
              attributes: { id: "name-" + loop.index0 }
            },
            {
              text: signatory.email,
              attributes: { id: "email-" + loop.index0 }
            },
            {
              html: '<strong class="govuk-tag">Signed</strong>' if signatory.approved_at else '<strong class="govuk-tag govuk-tag--grey">Not signed</strong>',
              attributes: { id: "signed-" + loop.index0 }
            }
          ]
        ),
        signatoryRows
      )
    %}
  {% endfor %}

  <div class="govuk-grid-column-full">
    {{ govukTable({
      head: [
        {
          text: "Name"
        },
        {
          text: "Email"
        },
        {
          text: "Signed"
        }
      ],
      rows: signatoryRows
    }) }}
  </div>
</div>