{#
template to be reused in all the services to display the locales menu/banner.
It receives:
- languageEnabled: to keep all hidden if feature-flag is off
- languages: array of pairs {.Name (i.e. 'English')   .IsoCode (i.e. 'en') }
- currentUrl: self-url. It's used to resend to the backend the same request wih the proper
              query parameter ("lang=..") set
              (i.e. https://.....<self>....../?lang=cy)
#}
{% macro setUrl(url, lang='en') %}
{% if url.includes('?') %}          {# check if there are query params already #}
    {% set regExp = r/([\?&]lang=)[^&]*/g %}
    {% if regExp.test(url) %}
        {% set url = url.replace(regExp, '$1' + lang) %} {# already present. Amend #}
    {% else %}
        {% set url = url + '&lang=' + lang %}  {# not already present. Add it #}
    {% endif %}
{% else %}
    {% set url = url + '?lang=' + lang %}   {# there are no args at all. Add it #}
{% endif %}
{% set url = url.replace(r/\?&/, '?') %}  {# in case of original url just 1 single '?' #}
{{ url }}
{% endmacro %}

<div class="govuk-width-container ">
    <div class="govuk-grid-column-full no-padd">
        <nav class="govuk-language-select" aria-label="Language switcher">
            <ul class="govuk-language-select__list">
            {% if languageEnabled %}
               {% for l in languages %}
                <li class="govuk-language-select__list-item">
                    <a href="{{setUrl(currentUrl, l.IsoCode)}}" lang={{l.IsoCode}} rel="alternate" class="govuk-link" >
                        <span aria-hidden="true">{{l.Name}}</span>
                    </a>
                </li>
               {% endfor %}  
            {% endif %}  
            </ul>
        </nav>
    </div>
</div>
