{% from "govuk/components/table/macro.njk"  import govukTable %}
{% from "govuk/components/tag/macro.njk"    import govukTag %}

{% from "components/resend-email-cell.njk" import resendEmailCell %}

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Application status</h2>
    <p class="govuk-body">Refresh the page to see updated information. If you exit this page, you can return to it by signing in to the <a class="govuk-link" href="{{ Paths.ROOT_URI }}" data-event-id="apply-to-strike-off-link">Apply to strike off and dissolve a company service</a>.</p>
  </div>

  {% set signatoryRows = [] %}
  {% for signatory in viewApplicationStatus.signatories %}
    {% set changeDetailsPath = journeyPath(Paths.APPLICATION_STATUS_CHANGE_URI, { params: { signatoryId: signatory.id } }) %}
    {% set resendEmailPath = journeyPath(Paths.APPLICATION_STATUS_SEND_EMAIL_URI) %}

    {% set resendEmailCellMarkup = resendEmailCell(signatory, loop.index0, resendEmailPath, csrfToken) %}

    {% set _ = signatoryRows.push([
      {
        text: signatory.name,
        attributes: { id: "name-" + loop.index0 }
      },
      {
          html: signatory.email + '<p><a id="change-email-' + loop.index0 + '" class="govuk-link" href="' + changeDetailsPath + '">Change email</a></p>' if signatory.canChange else signatory.email,
        attributes: {
          id: "email-" + loop.index0,
          'data-event-id': 'change-email-link'
        }
      },
      {
        html: resendEmailCellMarkup,
        attributes: {
          id: "resend-" + loop.index0,
          'data-event-id': 'resend-email-link' if piwik
        }
      } if not signatory.hasApproved,
      {
        html: govukTag({
          text: "Signed" if signatory.hasApproved else "Not signed",
          classes: "govuk-tag--grey" if not signatory.hasApproved
        }),
        attributes: { id: "signed-" + loop.index0 }
      }
    ]) %}
  {% endfor %}

  <div class="govuk-grid-column-full">
    {{ govukTable({
      head: [
        {
          text: "Name"
        },
        {
          text: "Email"
        },
        {
          text: "Resend"
        },
        {
          text: "Signed"
        }
      ],
      rows: signatoryRows
    }) }}
  </div>
</div>
