{% from "govuk/components/table/macro.njk"  import govukTable %}
{% from "govuk/components/tag/macro.njk"    import govukTag %}

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Application status</h2>
    <p class="govuk-body">Refresh the page to see updated information. If you exit this page, you can return to it by signing in to <a href="{{ Paths.ROOT_URI }}">the Apply to strike off and dissolve a company service</a>.</p>
  </div>

  {% set signatoryRows = [] %}
  {% for signatory in viewApplicationStatus.signatories %}
    {% set isReminded = false %}
    {% for director in signatory.remindDirectorList %}
        {% if director.id === signatory.id %}
          {% set isReminded = director.reminderSent %}
        {% endif %}
    {% endfor %}
    {% set signatoryRows =
      (
        signatoryRows.push(
          [
            {
              text: signatory.name,
              attributes: { id: "name-" + loop.index0 }
            },
            {
              text: signatory.email,
              attributes: { id: "email-" + loop.index0 }
            },
            {
              html: '<a href="' + Paths.APPLICATION_STATUS_URI + '/' + signatory.id + '/change">Change</a>',
              attributes: { id: "change-" + loop.index0 }
            } if signatory.canChange,
            {
              html: '<a>Email sent </a>' if isReminded else '<a href="' + Paths.APPLICATION_STATUS_URI + '/' + signatory.email + '/send-email">Resend email</a>',
              attributes: { id: "resend-" + loop.index0 }
            } if not signatory.hasApproved,
            {
              html: govukTag({
                text: "Signed" if signatory.hasApproved else "Not signed",
                classes: "govuk-tag--grey" if not signatory.hasApproved
              }),
              attributes: { id: "signed-" + loop.index0 }
            }
          ]
        ),
        signatoryRows
      )
    %}
  {% endfor %}

  <div class="govuk-grid-column-full">
    {{ govukTable({
      head: [
        {
          text: "Name"
        },
        {
          text: "Email"
        },
        {
          text: "Change",
          attributes: { id: "change-col" }
        } if viewApplicationStatus.showChangeColumn,
        {
          text: "Resend"
        },
        {
          text: "Signed"
        }
      ],
      rows: signatoryRows
    }) }}
  </div>
</div>